<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="assets/css/beer_style.css">

</head>
<body>
<header>
    <img id="beer-mug" src="assets/img/krug_hell_0.png" alt="beer mug">
    <h1>Meine Bierliste</h1>
    <h2>
      <span id="header-title">&nbsp;
        <br>(My Beer List)
        <br>Life is too short to drink bad beer twice!</h2>
  </header>
  {{{body}}}
</body>
</html>