* {
  box-sizing: border-box;
  
}

::-webkit-input-placeholder {
  color: #BBBBBB;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
  color: #BBBBBB;
  opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #BBBBBB;
  opacity: 1 !important;
}

:-ms-input-placeholder {  
 color: #BBBBBB;
}

#col1, #col3, #col4, #col5, #col6 {
  opacity: 0%;
  visibility: hidden;
}

#col1 {
  width: 0px;
}

#col2 {
  width: 40%;
}

.col-holder {
  /* display: inline-block; */
  width: 960px;
  margin: auto;
  text-align: center;
}

.col {
  display: inline-block;
  border: 1px black solid;
  /* width: 15%; */
  /* min-width: 100px; */
  background-color: #f8d047;
}

.form-review {
  text-align: left;
  width: 100%;
  /* background-color: blue; */
}

.form-holders {
  padding: 10px;
  width: 100%;
}

.side-left {
  float: left;
  width: 49%;
  text-align: left;
  /* background-color: green; */
  /* padding-right: 10px */
}

.side-right {
  float: right;
  width: 49%;
  /* background-color: green; */
}

.center-wide {
  clear: both;
  text-align: center;
}

#reviewFormHolder {
  /* width: 60%; */
}


ol { 
  counter-reset: item;
  list-style-type: none;
}

/* li { 
  display: block; 

} */

li:before { 
  font-family: 'Roboto Mono', monospace;
  content: counter(item) ""; 
  counter-increment: item 
}

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: 1px black solid;
}
::-webkit-scrollbar-track-piece  {
  background-color: #f8d047;
}
  ::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0A4C95;
}
  
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */


body {
  /* background-color: #f8d047; */
  background-color:#000;
  background-image: url("../img/gold-fields.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#beer-add-new {
  /* margin-top: 10px; */
  display: inline-block;
}

.beer-btn {
  font-family: Helvetica, Calibri, Arial, sans-serif;
  background-color: #f8d047;
  color:  #cd2b1d;
  border: 1px #cd2b1d solid;
  display: inline;
  /* float: left; */
  clear: none;
  outline: none;
  margin: 0px 1px;
  border-radius: 5px;
  /* font-family: 'Didact Gothic', sans-serif; */
}

.beer-btn-bigger {
  height: 1.5em;
  font-size: 1em;
}

.beer-btn:hover {
  background-color: #cd2b1d;
  color: #f8d047;
  /* float: left; */
  /* border: none; */
}

.beer-btn:active {
  color: #cd2b1d;
   background-color: #f8d047;
  /* float: left; */
  border: none;
}

.beer-btn-trash {
  background-color: #f8d047;
  color:  #cd2b1d;
  border: none;
  display: inline;
  /* float: left; */
  clear: none;
  outline: none;
  margin: 0px 1px;
  border-radius: 5px;
}

.beer-btn-trash:hover {
  color: #f8d047;
  background-color:  #cd2b1d;
  border: none;
  /* display: inline; */
  /* float: left; */
  /* clear: none; */
  /* outline: none; */
  /* margin: 0px 1px; */
  /* border-radius: 5px; */
}

/* .beer-btn-label {
  display: inline;
  float: right;
  clear: none;
} */



.beer-input {
  height: 1.5em;
  font-size: 1em;
  display: inline-block;
  /* font-family: 'UnifrakturMaguntia', cursive; */
  /* font-family: 'Germania One', cursive; */
  padding: 5px;
  margin: 5px;
  color: #FFFFFF;
  opacity: 1;
  border-radius: 5px;
  border: 1px #cd2b1d solid;
  text-shadow: none;
  background-color: black;
}

.beer-list-title {
  text-align: center;
  font-family: 'Germania One', cursive;
  /* font-family: 'UnifrakturMaguntia', cursive; */
  margin: 2px auto;
  font-size: 1.5em;
}

#beer-review {
  width: 100%;;
  height: 200px;
}

#beers-tried, #beers-untried {
  text-align: left;
  border: 6px #cd2b1d double;
  display: inline-block;
  box-sizing: border-box;
  top: 0;
  width:49%;
  height: 356px;
  overflow: scroll;
  margin: auto;
  vertical-align: top;
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 10px;
  font-family: 'Didact Gothic', sans-serif;
}

#beer-mug {
  width: 100px;
  float: left;
}

#beer-new-name {
  height: 2em;
  border: 1px #cd2b1d double;
  display: block;
  margin:10px auto;
  /* background-color: green; */
}


.big-letter {
  /* replaces capitals with large lower case letters where it improves readability */
  font-size: 1.5em;
}

#container {
  background-color: #f8d047;
  width: 768px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 4px black solid;
  border-top: none;
}

.delete-form {
  display: inline;
}

.err-msg {
  height: 0px;
  font-size: 1.2em;
  color: red;
  padding: 2px;
  /* border: 4px red double; */
  margin: auto;
  text-emphasis: open;
  font-family: 'Didact Gothic', sans-serif;
  -webkit-transition: height 0.5s; /* Safari */
    transition: height 0.5s;
}

#everything {
  /* border: 8px black solid; */
  /* width: 784px; */
  
  /* display: inline-block; */
  /* margin: auto; */
}

header {
  overflow: auto;
  text-align: center;
  width: 768px;
  padding: 10px;
  /* color: firebrick; */
  background-color: #f8d047;
  border: 4px black solid;
  border-bottom: none;
  margin: auto;
  margin-top: 30px;
}

header h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 3em;
  color: #cd2b1d;
  text-shadow: #000 1px 1px;
  margin: 0px auto;
  padding-bottom: 0px;
  display: inline;
}

header h2 {
  font-family: 'Germania One', cursive;
  font-size: 2em;
  margin-top: 0px;
  padding-top: 0px; 
  display: inline;
}

#header-title {
  font-size: 0.7em;
}

ul {
  list-style-type: none;
  /* margin: 0; */
  /* padding: 0; */
}

/* #beers-untried {
  border: 2px #cd2b1d solid;
  display: inline-block;
  width:49%;
  top: 0;
  
} */

/* tooltip stuff */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}